* {
  list-style: none;
}
.header {
  display: flex;
  gap: 20px;
  color: var(--secondary-color);
  padding: 20px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--primary-color);
}

#kazi-header {
  color: var(--tertiary-color);
}

#profile {
  background-color: var(--tertiary-color);
  padding: 10px;
  border-radius: 50%;
}

.header > nav {
  flex: 2;
  width: 80%;
}

nav > ul > li {
  font-size: 15px;
  font-weight: 700;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#active-btn {
  color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
}
