.reset-form-container {
  background-image: url("/public/images/img1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}
#reset-form {
  background-color: var(--primary-color);
  width: 70%;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 20px;
}

.row {
  justify-content: center;
  font-weight: 600;
  color: var(--secondary-color);
  margin-left: 250px;
}
.rows > input {
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--tertiary-color);
  margin-bottom: 0rem;
}

.reset-btn {
  display: flex;
  justify-content: center;
}

.reset-btn > button {
  padding: 10px 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}

.reset-errors {
  font-size: 12px;
  font-weight: 400;
  color: var(--tertiary-color);
}
